<meta name="viewport" content="width=device-width, initial-scale=1.0">



<div
class="tree-container"
>
     <!-- Render the root members -->
     <ng-container *ngFor="let member of familyTree">

          <ng-container *ngTemplateOutlet="renderMember;
              context: { $implicit: member }"></ng-container>

     </ng-container>
</div>



<!-- Template for family member card -->
<ng-template #renderMember let-member>

     <div

     class="member-card"
      [attr.data-id]="member.id"
      [style.left.px]="member.x"
      [style.top.px]="member.y"
      (mousedown)="startDrag($event, member)"
      (touchstart)="startDrag($event, member)"
      [class.selected]="selectedMember?.id === member.id"

      (touchstart)="startPan($event)"
      (touchmove)="onPan($event)"
      (touchend)="endPan()"
      [style.transform]="transformStyle"

     >
          <p>{{ member.name }}</p>
     </div>

     <!-- EDIT PANEL -->
     <div class="edit-panel" *ngIf="selectedMember?.id === member.id"
          [style.left.px]="member.x + 120"
          [style.top.px]="member.y + 10"
          [@fadeInOut]="'in'">

          <h4>تعديل</h4>
          <label>
               الاسم
               <input [(ngModel)]="newName" />
               <button (click)="updateName()">تعديل الاسم</button>
          </label>

          <div style="margin-top: 5px">
               <label>
                    اضافة ابن
                    <input [(ngModel)]="childName" />
                    <button (click)="addNewChild()">اضافة</button>
               </label>
          </div>
          <div style="margin-top: 5px">
               <label>
                    <p></p>
                    <button (click)="removeSelectedChild()">حذف</button>
               </label>
          </div>

          <div *ngIf="selectedMember && selectedMember.children && selectedMember.children.length > 0">
               <h5>الأبناء</h5>
               <select [(ngModel)]="selectedMember">
                    <option *ngFor="let c of selectedMember.children" [value]="c.id">
                         {{ c.name }}
                    </option>
               </select>
          </div>
     </div>
     <!-- CONNECTION LINES -->
     <svg class="tree-svg">
          <line *ngFor="let child of member.children" [attr.x1]="member.x + 50" [attr.y1]="member.y + 83"
               [attr.x2]="child.x + 50" [attr.y2]="child.y" stroke=#d4af37 stroke-width="2" />
     </svg>
     <!-- RENDER CHILDREN RECURSIVELY -->
     <ng-container *ngFor="let child of member.children">
          <ng-container *ngTemplateOutlet="renderMember; context: { $implicit: child }">
          </ng-container>
     </ng-container>

</ng-template>

<button (click)="onSave()">
     💾 Save Tree
</button>

<div *ngIf="saveMessage" style="margin-top: 10px; color: green;">
     {{ saveMessage }}
</div>



<!-- Draw connection lines -->
<!-- <svg class="tree-svg">
<line *ngFor="let child of member.children" [attr.x1]="member.x + 50" [attr.y1]="member.y + 50"
       [attr.x2]="child.x + 50" [attr.y2]="child.y" stroke="black" stroke-width="2" />
</svg> -->

<!-- Recursively render children -->
<!-- <ng-container *ngFor="let child of member.children">
<ng-container *ngTemplateOutlet="renderMember; context: { $implicit: child }"></ng-container>
</ng-container> -->



<!-- <button (click)="addChild(member)">➕ Add Child</button>
<button (click)="updateMember(member)" >Update</button> -->
